#app {
  display: grid;
  grid-template-rows: 80px 60px 60px minmax(360px, 720px);
  grid-template-columns: 300px minmax(640px, 1280px) 150px;
}

h1 {
  grid-area: 1 / 1 / 2 / 2;
}

#fullscreen-toggle {
  grid-area: 1 / 2 / 2 / 3;
  width: fit-content;
  margin-left: 3px;
}

#video-container {
  display: grid;
  grid-template-columns: auto 50px 200px;
  grid-template-rows: 25px auto 25px 25px;
  grid-area: 2 / 1 / 5 / 2;
  width: 1280px;
  height: 720px;
}

#submit-input {
  display: inline;
  margin-top: 30px;
}

#submit-box {
  grid-column-start: 2;
}

#video-player {
  grid-area: 1 / 1 / 4 / 1;
  background-color: orange;
}

#message-submit {
  margin-left: 4px;
  grid-area: 3 / 2 / 4 / 3;
  width: fit-content;
  height: 25px;
  border-radius: 2px;
}

#message-input {
  margin-left: 5px;
  grid-area: 3 / 3 / 3 / 4;
  border-radius: 2px;
}

#chat-container {
  margin: 3px;
  padding-left: 2px;
  overflow: scroll;
  background-color: white;
  grid-area: 2 / 2 / 3 / 4;
  border-radius: 3px;
}

/* button {
  display: inline;
  margin-left: 5px;
  margin-bottom: 5px;
} */